.separate-line::before {
    content: "" !important;
    display: block !important;
    width: 100% !important;
    height: 1px !important;
    background-color: #6B7280 !important;
}

.separate-line::after {
    content: "" !important;
    display: block !important;
    width: 100% !important;
    height: 1px !important;
    background-color: #6B7280 !important;
}
